                        JOIN

In [1]:
import pandas as pd
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]})
var2=pd.DataFrame({'C':[10,20,30,40],'D':[11,22,33,44]})
var1.join(var2)

   A   B   C   D
0  1  11  10  11
1  2  12  20  22
2  3  13  30  33
3  4  14  40  44

In [2]:
import pandas as pd
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]})
var2=pd.DataFrame({'C':[10,30],'D':[11,22]})
var1.join(var2)

   A   B     C     D
0  1  11  10.0  11.0
1  2  12  30.0  22.0
2  3  13   NaN   NaN
3  4  14   NaN   NaN

In [9]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'D':[11,22]},index=['a','b'])
var1.join(var2)

   A   B     C     D
a  1  11  10.0  11.0
b  2  12  30.0  22.0
c  3  13   NaN   NaN
d  4  14   NaN   NaN

In [10]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'D':[11,22]},index=['a','b'])
var2.join(var1)

    C   D  A   B
a  10  11  1  11
b  30  22  2  12

In [11]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'D':[11,22]},index=['a','b'])
var2.join(var1,how='left')

    C   D  A   B
a  10  11  1  11
b  30  22  2  12

In [13]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'D':[11,22]},index=['a','b'])
var2.join(var1,how='right')

      C     D  A   B
a  10.0  11.0  1  11
b  30.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [14]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'D':[11,22]},index=['a','b'])
var2.join(var1,how='inner')

    C   D  A   B
a  10  11  1  11
b  30  22  2  12

In [16]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'D':[11,22]},index=['a','b'])
var2.join(var1,how='outer') # how decide that how to join data

      C     D  A   B
a  10.0  11.0  1  11
b  30.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [17]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'B':[11,22]},index=['a','b'])
var2.join(var1,how='outer') # how decide that how to join data

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

In [20]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'B':[11,22]},index=['a','b'])
var2.join(var1,how='outer',lsuffix="_12") # how decide that how to join data suffics is used to remove overlap between column name

      C  B_12  A   B
a  10.0  11.0  1  11
b  30.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [21]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'B':[11,22]},index=['a','b'])
var2.join(var1,how='outer',lsuffix="_12",rsuffix="_12") # how decide that how to join data suffics is used to remove overlap between column name

      C  B_12  A  B_12
a  10.0  11.0  1    11
b  30.0  22.0  2    12
c   NaN   NaN  3    13
d   NaN   NaN  4    14

                                            Append

In [25]:
import pandas as p
# changing index no of data
var1=pd.DataFrame({'A':[1,2,3,4],'B':[11,12,13,14]},index=['a','b','c','d'])
var2=pd.DataFrame({'C':[10,30],'B':[11,22]},index=['a','b'])
var=var1.append(var2)
print(var)

AttributeError: 'DataFrame' object has no attribute 'append'