Arithmetic operation

In [1]:
import pandas as pd
var={'A':[1,2,3,4,5],'B':[1,2,3,4,5]}
v=pd.DataFrame(var)
print(v)

   A  B
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

In [8]:
import pandas as pd
var={'A':[1,2,3,4,5],'B':[1,2,3,4,5]}
v=pd.DataFrame(var)

print()
print()
v['Sum']=v['A']+v['B']
v['Subtract']=v['A']-v['B']
v['Multiply']=v['A']*v['B']
v['Divide']=v['A']/v['B']
v

   A  B  Sum  Subtract  Multiply  Divide
0  1  1    2         0         1     1.0
1  2  2    4         0         4     1.0
2  3  3    6         0         9     1.0
3  4  4    8         0        16     1.0
4  5  5   10         0        25     1.0

In [5]:
import pandas as pd

var={'A':[1,2,3,4,5]}
v=pd.DataFrame(var)
print(v)
print()
print()
v['Even']=v['A']%2==0
v['Odd']=v['A']&1==0

v

   A
0  1
1  2
2  3
3  4
4  5

   A   Even    Odd
0  1  False  False
1  2   True   True
2  3  False  False
3  4   True   True
4  5  False  False